.about-me {
  & p {
    letter-spacing: 1px;
  }
  & img {
    width: 650px;
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
  }
}

@media (max-width: 1024px) {
  .about-me {
    & img {
      width: 80%;
    }
  }
}
