.book-card:hover {
  * {
    color: var(--text-hover-color);

    transition: all 0.3s;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-color);
  z-index: 3;
  & p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    flex: 1;
    min-width: 250px;
    text-align: center;
    align-self: center;
  }

  & img {
    border-radius: 20px;
    width: 300px;
    height: auto;
  }
}

h2 {
  font-size: 1.7em;
  color: var(--text-color);
}

.image-right {
  margin-left: 50px;
}

.image-left {
  margin-right: 50px;
}

.card-title-left {
  text-align: left;
  padding-left: 20%;
}

.card-title-right {
  text-align: right;
  padding-right: 20%;
}

@media (max-width: 768px) {
  .mobile-book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .mobile-description {
      font-size: 1.3rem;
      margin-bottom: 10px;
      text-align: center;
      font-family: var(--font-article);
      color: var(--text-color);
    }

    & .mobile-image {
      border-radius: 20px;
      margin-bottom: 20px;
    }

    & .mobile-title {
      font-size: 1.6rem;
      font-weight: bold;
      margin-bottom: 10px;
      text-align: center;
      margin-bottom: 20px;
    }

    & .mobile-description,
    .mobile-title {
      padding: 0 20px;
      letter-spacing: 0.5px;
    }
  }
}
