@media (min-width: 768px) {
  .book-card:hover {
    * {
      color: var(--text-hover-color);
    }
  }
}

.book-card {
  opacity: 0;
  * {
    transition: color 0.3s;
  }
}

.book-card-left {
  transform: translateX(-10%);
  opacity: 0;
}

.book-card-right {
  transform: translateX(10%);
  opacity: 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-color);
  z-index: 3;
  & p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    flex: 1;
    min-width: 250px;
    text-align: center;
    align-self: center;
  }

  & img {
    border-radius: 20px;
    width: 300px;
    height: auto;
  }
}

h2 {
  font-size: 1.7em;
  color: var(--text-color);
}

.image-right {
  margin-left: 50px;
}

.image-left {
  margin-right: 50px;
}

.card-title-left {
  text-align: left;
}

.card-title-right {
  text-align: right;
}

.mobile-book-msg {
  display: none;
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 50px;
  }
  .mobile-book-card-grid {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5px));
    column-gap: 10px;
    row-gap: 20px;
    margin-bottom: 20px;
  }

  .mobile-book-card-grid > *:last-child:nth-child(odd) {
    grid-column: 1 / -1;
    width: 50%;
    margin: 0 auto;
  }

  .mobile-book-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    transition: all 0.3s;
    height: 240px;

    & .mobile-image {
      max-width: 100%;
      border-radius: 20px;
    }

    & .mobile-title {
      font-size: 1.1em;
      font-weight: bold;
      text-align: center;
      margin: auto;
      padding: 0 20px;
    }

    & .front-card-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1.5em;
      color: var(--text-color);
    }
  }

  .mobile-back-content {
    & .mobile-description {
      font-size: 1em;
      font-family: var(--font-article);
      color: var(--text-color);
      font-weight: 400;
    }
  }

  .mobile-book-msg {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: 400;
    color: var(--text-color);
    font-family: var(--font-article);
    margin-bottom: 20px;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
