.header {
  width: 100%;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--contact-background-color);
  height: 70px;
  position: sticky;
  top: 0;
  font-family: var(--font-header);
  z-index: 1000;
  background-color: var(--background-color-transparent);
  padding: 1rem;
  animation: border-animation 0.3s ease-in-out forwards;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: auto;
}

.link-item {
  opacity: 0;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  transition: margin 0.2s ease-out;
  animation: header-animation 0.5s ease-in forwards;
  animation-delay: calc(var(--delay) + 0.2s);
  &.active {
    color: rgb(36, 36, 36);
  }
  &:hover:not(.active) {
    margin-top: -10px; /* Small jump on hover */
  }
}

.underline {
  position: absolute;
  height: 2px;
  width: 100px;
  transition:
    left 0.3s ease,
    width 0.3s ease 0.1s;
  bottom: 20px;
  left: -50px;
  transform: translateX(-50%);
  background-color: var(--border-color);
}

.menu-button {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0;
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .header {
    display: flex; /* Change from 'none' to 'flex' */
    position: fixed; /* Change from 'sticky' to 'fixed' */
    bottom: 0; /* Change from 'top: 0' to 'bottom: 0' */
    top: unset; /* Remove top positioning */
    border-top: 2px solid var(--contact-background-color); /* Add top border */
    border-bottom: none; /* Remove bottom border */
    display: none;

    & .link-item {
      font-size: 1rem;
    }
  }
}

@keyframes header-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes border-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
} */
