.gallery {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  height: 470px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: absolute;
  transition: all 0.5s ease-in-out;
  object-fit: cover;
  border-radius: 20px;
}

.current-image {
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 3;
  box-shadow: 0 0 5px 5px var(--background-color);
}

.prev-image {
  transform: translateX(-30%) scale(0.7);
  opacity: 0.7;
  z-index: 1;
  filter: brightness(0.7);
}

.next-image {
  transform: translateX(30%) scale(0.7);
  opacity: 0.7;
  z-index: 1;
  filter: brightness(0.7);
}

.hidden-left {
  transform: translateX(-30%) scale(0.6);
  opacity: 0;
  z-index: 0;
}

.hidden-right {
  transform: translateX(30%) scale(0.6);
  opacity: 0;
  z-index: 0;
}

.controls {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.controls button {
  background: var(--contact-background-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  color: var(--text-color);
}

.controls button:hover {
  transform: scale(1.1);
}

.controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  transition: all 0.3s ease;
  box-shadow: 0 0 1px 1px var(--box-shadow-color);
}

.dot.active {
  background: var(--contact-background-color);
  border-color: var(--border-color);
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    transition: transform 0.3s ease-out; /* Faster transition for smoother swipe */
  }
  .dot {
    display: none;
  }
  .controls {
    display: none;
  }
  .gallery {
    touch-action: pan-y pinch-zoom; /* Ensure touch behavior works on mobile */
    height: 320px;
  }
  .mobile-picture-counter {
    position: absolute;
    top: 0;
    font-size: 1.8rem;
    color: var(--text-color);
    font-family: var(--font-article);
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
}
