:root {
  --delay: 0.5s;
}

.welcome-message {
  margin: auto;
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  width: 1000px;

  & .text {
    opacity: 0;
    font-family: var(--font-article);
    font-size: 24px;
    text-align: center;
    animation: picture-animation 0.8s ease-in forwards;
    animation-delay: var(--delay);
  }

  & .img {
    opacity: 0;
    width: 500px;
    height: 500px;
    border-radius: 20%;
    object-fit: cover;
    float: left;
    margin-right: 50px;
    border: 2px solid var(--border-color);
    animation: picture-animation 0.8s ease-in forwards;
    animation-delay: var(--delay);
  }

  h1 {
    opacity: 0;
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 700;
    animation: picture-animation 0.8s ease-in forwards;
    animation-delay: var(--delay);
  }

  p {
    color: var(--text-color);
    font-weight: 100;
    animation: picture-animation 0.8s ease-in forwards;
    animation-delay: var(--delay);
  }
}

@media (max-width: 1024px) {
  .welcome-message {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 100px;
    & h1,
    p {
      padding: 0 10%;
      text-align: center;
    }
    & .text {
      margin-top: 50px;
      font-size: 1.2em;
      font-weight: 400;
    }
    & .img {
      width: 100%;
      object-fit: cover;
      margin-right: 0;
      margin-bottom: 20px;
      border-radius: 0px;
    }
  }
}

@keyframes picture-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
