---
import "../styles/card.css";

interface CardProps {
  imagePosition?: "left" | "right";
}

const { imagePosition }: CardProps = Astro.props;
---

<div class="card web-card">
  <header class="card-header">
    <slot name="header" />
  </header>
  <div class={`web-card-header-underline ${imagePosition}`}></div>
  <div>
    <slot name="content" />
  </div>
</div>

<div class="card mobile-card">
  <slot name="mobile-content" />
</div>
