---
import "../styles/card.css";

interface CardProps {
  imagePosition?: "left" | "right";
  effectBackgroundColor?: string;
}

const { imagePosition, effectBackgroundColor = "grey" }: CardProps =
  Astro.props;
---

<div
  class={`card web-card ${imagePosition}`}
  style={`--card-bg-color: ${effectBackgroundColor};`}
>
  <header class="card-header">
    <slot name="header" />
  </header>
  <div class={`web-card-header-underline ${imagePosition}`}></div>
  <div>
    <slot name="content" />
  </div>
</div>

<div class="card mobile-card">
  <div class="mobile-card-front">
    <slot name="mobile-content" />
  </div>
  <div class="mobile-card-back">
    <slot name="mobile-back-content" />
  </div>
</div>
