---
import "../styles/language-picker.css";
---

<div class="language-picker-container">
  <button class="language-picker-button" title="Bosanski">
    <img src="/assets/svgs/bosniaFlag.svg" alt="Bosnia Flag" />
  </button>
  <button class="language-picker-button" title="English">
    <img src="/assets/svgs/ukFlag.svg" alt="UK Flag" />
  </button>
  <button class="language-picker-button" title="Deutsch">
    <img src="/assets/svgs/germanyFlag.svg" alt="Germany Flag" />
  </button>
  <div class="language-selected"></div>
</div>

<script src="/scripts/language.js" type="module" defer></script>
