---
import "../styles/about-me.css";
---

<section id="about-me" class="section">
  <div class="section-title">
    <h1>O meni</h1>
    <i data-lucide="contact" class="icon"></i>
  </div>

  <div class="about-me">
    <img src="/assets/Elmira-pocetna.jpg" />
    <p class="about-me-text">
      Elmira Helać-Mekić rođena je 6.5.1965. godine u Sarajevu. Dugogodišnji je
      prosvjetni radnik, profesorica razredne nastave. Pored velike ljubavi
      prema djeci i radu u nastavi, Elmira je oduvijek pokazivala i ljubav prema
      pisanoj riječi koja je namijenjena prvenstveno djeci. Prvi roman „Kamen“
      izdala je 2015. godine, a potom slijede roman „Kaldrma“, zbirka basni
      „Horozgrad“, roman „Psi s raskrsnice“, roman „Djetinjstvo jednog vremena“
      te zbirka basni „Mačak vegetarijanac i Žaba u štiklama“. Sva djela su
      snimljena na CD u Biblioteci za slijepa i slabovidna lica Bosne i
      Hercegovine za potrebe slijepe i slabovidne djece, a zbirka basni
      „Horozgrad“ prevedena je na engleski jezik. Nacionalna i univerzitetska
      biblioteka BiH 2021.godine nominovala ju je za Astrid Lindgren Memorial
      Award, jednu od najprestižnijih svjetskih nagrada za dječiju književnost,
      a Stručni žiri Švedskog umjetničkog vijeća ju je zadržao u kandidaturi za
      2022.godinu i 2023.godinu. Knjiga autorice „Mačak vegetarijanac i Žaba u
      štiklama“ je nominirana za najveću i najprestižniju regionalnu nagradu
      „Mali princ“ za 2024.godinu. Knjige se nalaze na spisku lektirnih djela.
      Živi i radi u Sarajevu.
    </p>
    <div class="see-more-icon-container">
      <i data-lucide="chevron-down" class="see-more-icon"></i>
    </div>
  </div>
</section>

<script src="/scripts/aboutMe.js" defer></script>
