---
import "../styles/about-me.css";
---

<section id="about-me" class="section">
  <div class="section-title">
    <h1>O meni</h1>
    <i data-lucide="contact" class="icon"></i>
  </div>

  <div class="about-me">
    <img src="/assets/Elmira-pocetna.jpg" />
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas odio
      tempora laudantium rem asperiores accusamus harum repellendus ipsam,
      voluptatibus doloremque expedita, obcaecati quis! Explicabo error beatae
      quasi quod id laudantium! Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Quas odio tempora laudantium rem asperiores accusamus
      harum repellendus ipsam, voluptatibus doloremque expedita, obcaecati quis!
      Explicabo error beatae quasi quod id laudantium! Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Quas odio tempora laudantium rem
      asperiores accusamus harum repellendus ipsam, voluptatibus doloremque
      expedita, obcaecati quis! Explicabo error beatae quasi quod id laudantium!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas odio
      tempora laudantium rem asperiores accusamus harum repellendus ipsam,
      voluptatibus doloremque expedita, obcaecati quis! Explicabo error beatae
      quasi quod id laudantium! Lorem ipsum dolor sit, amet consectetur
      adipisicing elit. Quas odio tempora laudantium rem asperiores accusamus
      harum repellendus ipsam, voluptatibus doloremque expedita, obcaecati quis!
      Explicabo error beatae quasi quod id laudantium! Lorem ipsum dolor sit,
      amet consectetur adipisicing elit. Quas odio tempora laudantium rem
      asperiores accusamus harum repellendus ipsam, voluptatibus doloremque
      expedita, obcaecati quis! Explicabo error beatae quasi quod id
      laudantium!s
    </p>
  </div>
</section>
