---
import "../styles/contact.css";
---

<div id="contact" class="background">
  <div class="contact-container">
    <span>Kontaktirajte me</span>
    <div class="icon-container">
      <a
        class="icon-url"
        href="https://www.facebook.com/Horozgrad/"
        target="_blank"><i data-lucide="facebook" class="icon"></i></a
      >
      <a class="icon-url" href="mailto:amerr21@yahoo.com" target="_blank"
        ><i data-lucide="mail" class="icon"></i></a
      >
    </div>
  </div>
</div>
