---
import "../styles/header.css";
---

<header class="header">
  <button class="menu-button" aria-label="Toggle menu">
    <i data-lucide="menu"></i>
  </button>
  <div class="link-container">
    <a class="link-item" href="#books" style="--delay: 0s">Knjige</a>
    <a class="link-item" href="#about-me" style="--delay: 50ms">O meni</a>
    <a class="link-item" href="#promotions" style="--delay: 100ms">Promocije</a>
    <a class="link-item" href="#interviews" style="--delay: 150ms">Intervjui</a>
    <a class="link-item" href="#articles" style="--delay: 200ms">Članci</a>
    <div class="underline"></div>
  </div>
</header>

<script src="../scripts/header.js" defer></script>
