---
import { LanguagePicker } from "../components";
import "../styles/header.css";
---

<header class="header">
  <div class="link-container">
    <a
      data-translate="header.books"
      class="link-item"
      href="#books"
      style="--delay: 0s">Knjige</a
    >
    <a
      data-translate="header.aboutMe"
      class="link-item"
      href="#about-me"
      style="--delay: 50ms">O meni</a
    >
    <a
      data-translate="header.promotions"
      class="link-item"
      href="#promotions"
      style="--delay: 100ms">Promocije</a
    >
    <a
      data-translate="header.interviews"
      class="link-item"
      href="#interviews"
      style="--delay: 150ms">Intervjui</a
    >
    <a
      data-translate="header.articles"
      class="link-item"
      href="#articles"
      style="--delay: 200ms">Članci</a
    >
    <div class="underline"></div>
  </div>
  <LanguagePicker />
</header>

<header class="mobile-header">
  <button class="menu-button" aria-label="Toggle menu">
    <svg class="menu-icon" width="100" height="100" viewBox="0 0 100 100">
      <path class="line top" d="M 20,30 H 80"></path>
      <path class="line middle" d="M 20,50 H 80"></path>
      <path class="line bottom" d="M 20,70 H 80"></path>
    </svg>
  </button>
  <div class="mobile-menu-container hidden">
    <a data-translate="header.books" href="#books">Knjige</a>
    <a data-translate="header.aboutMe" href="#about-me">O meni</a>
    <a data-translate="header.promotions" href="#promotions">Promocije</a>
    <a data-translate="header.interviews" href="#interviews">Intervjui</a>
    <a data-translate="header.articles" href="#articles">Članci</a>
    <LanguagePicker />
  </div>
</header>
<script type="module" src="../scripts/header.js" defer></script>
