---
import "../styles/header.css";
---

<header class="header">
  <button class="menu-button" aria-label="Toggle menu">
    <i data-lucide="menu"></i>
  </button>
  <div class="link-container">
    <a class="link-item" href="#books">Knjige</a>
    <a class="link-item" href="#about-me">O meni</a>
    <a class="link-item" href="#promotions">Promocije</a>
    <a class="link-item" href="#interviews">Intervjui</a>
    <a class="link-item" href="#articles">Članci</a>
    <div class="underline"></div>
  </div>
</header>

<script src="/scripts/header.js" defer></script>
