---
import { LanguagePicker } from "../components";
import "../styles/header.css";
---

<header class="header">
  <button class="menu-button" aria-label="Toggle menu">
    <i data-lucide="menu"></i>
  </button>
  <div class="link-container">
    <a
      data-translate="header.books"
      class="link-item"
      href="#books"
      style="--delay: 0s">Knjige</a
    >
    <a
      data-translate="header.aboutMe"
      class="link-item"
      href="#about-me"
      style="--delay: 50ms">O meni</a
    >
    <a
      data-translate="header.promotions"
      class="link-item"
      href="#promotions"
      style="--delay: 100ms">Promocije</a
    >
    <a
      data-translate="header.interviews"
      class="link-item"
      href="#interviews"
      style="--delay: 150ms">Intervjui</a
    >
    <a
      data-translate="header.articles"
      class="link-item"
      href="#articles"
      style="--delay: 200ms">Članci</a
    >
    <div class="underline"></div>
  </div>
  <LanguagePicker />
</header>

<script type="module" src="../scripts/header.js" defer></script>
