---
import "../styles/interviews.css";

const interviews = [
  {
    title: "Radio Televizija Vogošća",
    date: "13.01.2025.",
    link: "https://www.youtube.com/watch?v=J2a8BCoO0yM",
  },
  {
    title: "Televizija Sarajevo",
    date: "01.04.2024.",
    link: "https://www.youtube.com/watch?v=6zd1_TTCG6s",
  },
  {
    title: "Hayat Media BiH",
    date: "05.12.2017.",
    link: "https://www.youtube.com/watch?v=z-hmcKT2V8E",
  },
];
---

<!-- <div id="interviews" class="section">
  <div class="section-title">
    <h1>Intervjui</h1>
    <i class="icon" data-lucide="mic"></i>
  </div>

  <div class="interviews-grid">
    {
      interviews.map((interview) => (
        <div class="interview-item">
          <div class="interview-info">
            <h3>{interview.title}</h3>
            <p>{interview.date}</p>
          </div>
          <iframe
            width="1000"
            height="315"
            src={interview.link.replace("watch?v=", "embed/")}
            title={interview.title}
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          />
        </div>
      ))
    }
  </div>
</div> -->
