---
import "../styles/promotions.css";
---

<div id="promotions" class="section">
  <div class="section-title">
    <h1>Promocije</h1>
    <i data-lucide="images" class="icon"></i>
  </div>

  <div class="gallery">
    <div class="controls">
      <button id="prevButton">
        <i data-lucide="arrow-left"></i>
      </button>
      <button id="nextButton">
        <i data-lucide="arrow-right"></i>
      </button>
    </div>
    <img
      src="../assets/Elmira-pocetna.jpg"
      alt="Image 1"
      class="image prev-image"
    />
    <img src="../assets/slika2.jpg" alt="Image 2" class="image current-image" />
    <img src="../assets/slika3.jpg" alt="Image 3" class="image next-image" />
    <img src="../assets/slika2.jpg" alt="Image 4" class="image" />
    <img src="../assets/Elmira-pocetna.jpg" alt="Image 1" class="image" />
    <img src="../assets/slika2.jpg" alt="Image 2" class="image" />
    <img src="../assets/slika3.jpg" alt="Image 3" class="image" />
    <img src="../assets/slika2.jpg" alt="Image 2" class="image" />
    <img src="../assets/slika3.jpg" alt="Image 3" class="image" />
    <img src="../assets/slika3.jpg" alt="Image 3" class="image" />
  </div>
  <div class="pagination" id="pagination"></div>
</div>

<script type="module" src="../scripts/promotions.js" defer></script>
