---
import "../styles/welcome.css";
---

<section id="welcome" class="welcome-message">
  <img src="/assets/Elmira-pocetna.jpg" class="img" />
  <div>
    <h1>Moje ime je Elmira Helać-Mekić</h1>
    <p class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ab unde
      exercitationem explicabo quia dolorem. Hic ex quidem amet tempore nulla
      mollitia, quaerat magni! Laborum, amet? Rem temporibus harum corporis.
    </p>
  </div>
</section>
